{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailmarkdown %}
  {% if article_page.show_authors or article_page.specific.show_date %}
    <div class="meta">
      {{ article_page.date }}
      {% if article_page.show_authors %}
        {% with authors=article_page.authors.all %}
          {% if authors %}
            &emspc; Posted by:&enspc;
            {% for author in authors %}
              {{ author.name }}{% if forloop.last %}{% else %}, {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      {% endif %}
    </div>
  {% endif %}

  {% for article_image in article_page.article_images.all %}
    {% if article_image.display_with_summary %}
      {% image article_image.image width-800 as article_image_image %}
      <div class="articleimage">
        <img src="{{ article_image_image.url }}" width="80%" alt="{{ article_image.alt_text }}">
      </div>
    {% endif %}
  {% endfor %}

  {{ article_page.summary|markdown  }}
  <div class="readmore"><a href="{% pageurl article_page %}">{{ page.continue_label }}{{ object.continue_label }}</a></div>

  {% if article_page.show_tags %}
    <div class="tags">
      {% for tag in article_page.tags.all %}
        <a href="{{ article_page.get_parent.url }}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
      {% endfor %}
    </div>
  {% endif %}
