:root {

    --theme-main-font-color: #000;
    --theme-main-background-color: #eee;

    --theme-main-very-light-color: #eee;
    --theme-main-light-color: #ccc;
    --theme-main-medium-color: #777;
    --theme-main-dark-color: #333;
    --theme-main-very-dark-color: #111;

}


