:root {

    --theme-main-font-color: #032140;
    --theme-main-background-color: #ffffff;

    --theme-main-very-light-color: #e4f5f9;
    --theme-main-light-color: #15a7e0;
    --theme-main-medium-color: #0577bd;
    --theme-main-dark-color: #0c3354;
    --theme-main-very-dark-color: #001121;

}


