:root {

    --theme-main-very-light-color: ##F6E876;
    --theme-main-light-color: #E69C47;
    --theme-main-medium-color: #982825;
    --theme-main-dark-color: #340D08;
    --theme-main-very-dark-color: #330000;

    --theme-main-font-color: var(--theme-very-dark-color);
    --theme-main-background-color: var(--theme-very-light-color);

}


